@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);






body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Oswald', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Oswald', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #efefef !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #efefef;
  border-color: #efefef;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #c9c9c9;
  border-color: #c9c9c9;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #c9c9c9 !important;
  border-color: #c9c9c9 !important;
}
.btn-secondary {
  background-color: #efefef;
  border-color: #efefef;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #c9c9c9;
  border-color: #c9c9c9;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #c9c9c9 !important;
  border-color: #c9c9c9 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #bcbcbc;
  color: #bcbcbc;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #efefef;
  border-color: #efefef;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #efefef !important;
  border-color: #efefef !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #bcbcbc;
  color: #bcbcbc;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #efefef;
  border-color: #efefef;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #efefef !important;
  border-color: #efefef !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #efefef !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #efefef;
}
.btn-social:hover {
  background: #efefef;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #efefef;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #efefef;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #efefef;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #efefef;
}
.lead a,
.lead a:hover {
  color: #efefef;
}
.lead blockquote {
  border-color: #efefef;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #efefef;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
  font-size: 32px;
  font-family: 'Oxygen', sans-serif;
}
#menu-0 .navbar-toggler {
  color: #000000;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #000000;
}
#menu-0 .link {
  font-size: 1.15rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #efefef;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #d6d6d6;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #e7e7e7!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #efefef;
}
#menu-0 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #efefef;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #efefef!important;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #000000;
}
#header1-0 .mbr-section-title {
  color: #f3c649;
}
#header1-0 .mbr-section-lead B {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
  font-size: 30px;
}
#header1-0 .mbr-section-lead {
  color: #000000;
}
#content5-e .mbr-section-title,
#content5-e p {
  color: #fff;
}
#content5-e DIV {
  font-family: 'Oxygen', sans-serif;
  color: #f3c649;
}
#content5-e B {
  color: #ffffff;
}
#header3-5 .mbr-section-title,
#header3-5 .mbr-section-subtitle {
  text-align: center;
}
#header3-5 H3 {
  color: #000000;
}







#menu-2 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2 .navbar-caption {
  color: #ffffff;
  font-size: 32px;
  font-family: 'Oxygen', sans-serif;
}
#menu-2 .navbar-toggler {
  color: #000000;
}
#menu-2 .link,
#menu-2 .dropdown-item {
  color: #000000;
}
#menu-2 .link {
  font-size: 1.15rem;
}
#menu-2 .dropdown-item,
#menu-2 .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#menu-2 .link:hover,
#menu-2 .dropdown-item:hover,
#menu-2 .link:focus,
#menu-2 .dropdown-item:focus {
  color: #efefef;
}
#menu-2 .link[aria-expanded="true"],
#menu-2 .dropdown-menu {
  background: #d6d6d6;
}
#menu-2 .nav-dropdown-sm .link:focus,
#menu-2 .nav-dropdown-sm .link:hover,
#menu-2 .nav-dropdown-sm .dropdown-item:focus,
#menu-2 .nav-dropdown-sm .dropdown-item:hover {
  background: #e7e7e7!important;
}
#menu-2 .navbar,
#menu-2 .nav-dropdown-sm,
#menu-2 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2 .nav-dropdown-sm .dropdown-menu {
  background: #efefef;
}
#menu-2 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-2 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2 .bg-color.transparent.opened .link:hover,
#menu-2 .bg-color.transparent.opened .link:focus {
  color: #efefef;
}
#menu-2 .link[aria-expanded="true"],
#menu-2 .dropdown-item[aria-expanded="true"] {
  color: #efefef!important;
}
#menu-2.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-2 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-2 .close-icon::before,
#menu-2 .close-icon::after {
  background-color: #000000;
}
#msg-box4-4 P {
  font-family: 'Indie Flower', cursive;
}
#msg-box4-4 H3 {
  font-family: 'Indie Flower', cursive;
}
#msg-box5-f P {
  font-family: 'Indie Flower', cursive;
}
#msg-box5-f H3 {
  font-family: 'Indie Flower', cursive;
}
#msg-box5-u H3 {
  font-family: 'Indie Flower', cursive;
}
#msg-box5-u P {
  font-family: 'Indie Flower', cursive;
}


#menu-7 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-7 .navbar-caption {
  color: #ffffff;
  font-size: 32px;
  font-family: 'Oxygen', sans-serif;
}
#menu-7 .navbar-toggler {
  color: #000000;
}
#menu-7 .link,
#menu-7 .dropdown-item {
  color: #000000;
}
#menu-7 .link {
  font-size: 1.15rem;
}
#menu-7 .dropdown-item,
#menu-7 .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#menu-7 .link:hover,
#menu-7 .dropdown-item:hover,
#menu-7 .link:focus,
#menu-7 .dropdown-item:focus {
  color: #efefef;
}
#menu-7 .link[aria-expanded="true"],
#menu-7 .dropdown-menu {
  background: #d6d6d6;
}
#menu-7 .nav-dropdown-sm .link:focus,
#menu-7 .nav-dropdown-sm .link:hover,
#menu-7 .nav-dropdown-sm .dropdown-item:focus,
#menu-7 .nav-dropdown-sm .dropdown-item:hover {
  background: #e7e7e7!important;
}
#menu-7 .navbar,
#menu-7 .nav-dropdown-sm,
#menu-7 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-7 .nav-dropdown-sm .dropdown-menu {
  background: #efefef;
}
#menu-7 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-7 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-7 .bg-color.transparent.opened .link:hover,
#menu-7 .bg-color.transparent.opened .link:focus {
  color: #efefef;
}
#menu-7 .link[aria-expanded="true"],
#menu-7 .dropdown-item[aria-expanded="true"] {
  color: #efefef!important;
}
#menu-7.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-7 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-7 .close-icon::before,
#menu-7 .close-icon::after {
  background-color: #000000;
}
#features3-a H5 {
  color: #000000;
}
#features3-a P {
  font-family: 'Oxygen', sans-serif;
}




#menu-c .hide-buttons .nav-btn {
  display: none !important;
}
#menu-c .navbar-caption {
  color: #ffffff;
  font-size: 32px;
  font-family: 'Oxygen', sans-serif;
}
#menu-c .navbar-toggler {
  color: #000000;
}
#menu-c .link,
#menu-c .dropdown-item {
  color: #000000;
}
#menu-c .link {
  font-size: 1.15rem;
}
#menu-c .dropdown-item,
#menu-c .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#menu-c .link:hover,
#menu-c .dropdown-item:hover,
#menu-c .link:focus,
#menu-c .dropdown-item:focus {
  color: #efefef;
}
#menu-c .link[aria-expanded="true"],
#menu-c .dropdown-menu {
  background: #d6d6d6;
}
#menu-c .nav-dropdown-sm .link:focus,
#menu-c .nav-dropdown-sm .link:hover,
#menu-c .nav-dropdown-sm .dropdown-item:focus,
#menu-c .nav-dropdown-sm .dropdown-item:hover {
  background: #e7e7e7!important;
}
#menu-c .navbar,
#menu-c .nav-dropdown-sm,
#menu-c .nav-dropdown-sm .link[aria-expanded="true"],
#menu-c .nav-dropdown-sm .dropdown-menu {
  background: #efefef;
}
#menu-c .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-c .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-c .bg-color.transparent.opened .link:hover,
#menu-c .bg-color.transparent.opened .link:focus {
  color: #efefef;
}
#menu-c .link[aria-expanded="true"],
#menu-c .dropdown-item[aria-expanded="true"] {
  color: #efefef!important;
}
#menu-c.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-c .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-c .close-icon::before,
#menu-c .close-icon::after {
  background-color: #000000;
}
#header1-v .mbr-section-title {
  color: #f3c649;
}
#header1-v .mbr-section-lead {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
}
#header1-v .mbr-section-lead B {
  color: #000000;
}
#msg-box5-w P {
  font-family: 'Oxygen', sans-serif;
}
#msg-box5-x P {
  font-family: 'Oxygen', sans-serif;
}
